#page-create-point {
  width: 90vw;
  max-width: 1100px;
  margin: 0 auto;

  form {
    background-color: #fff;
    padding: 64px;
    margin: 80px auto;
    border-radius: 8px;
    max-width: 730px;
    box-shadow: 2px 2px 10px 0px rgba(44, 44, 44, 0.15);

    h1 {
      font-size: 36px;
    }

    fieldset {
      margin-top: 64px;
      border: none;
    }

    legend {
      margin-bottom: 40px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      h2 {
        font-size: 24px;
      }
      p {
        margin-top: 14px;
        color: $title-color;
      }
    }

    .field {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
    }

    .field-group {
      display: flex;

      .field + .field {
        margin-left: 24px;
      }
    }
    input,
    select {
      border: none;
      font-size: 16px;
      background-color: $white-color;
      padding: 12px 20px;
      border-radius: 8px;
      border: 1px solid transparent;
    }
    input {
      &:focus {
        border: 1px solid #34cb79;
      }
    }
    select {
      appearance: none;
      color: $title-color;
    }

    label {
      font-size: 14px;
      margin-bottom: 8px;
      color: $title-color;
    }

    button {
      display: block;
      margin: 0 auto;
      width: 260px;
      height: 56px;
      background-color: $primary-color;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      border-radius: 8px;
      border: none;
      margin-top: 40px;
      cursor: pointer;
      transition: background-color 0.4s;

      &:hover {
        background-color: $title-color;
      }
    }
  }

  .item-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;

    li {
      list-style: none;
      background-color: #f5f5f5;
      border: 2px solid #f5f5f5;
      border-radius: 8px;
      height: 180px;
      padding: 32px 24px 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      color: $title-color;
      cursor: pointer;
      box-shadow: 5px 5px 8px 0px rgba(44,44,44,0.15);
      transition: 0.4s;

      &:hover {
        transform: translateY(-4px);
      }
    }

    li.selected {
      background-color: #e1faec;
      border: 2px solid #34cb79;
      transform: translateY(-8px);
    }

    span {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 12px;
      pointer-events: none;
    }
    img {
      pointer-events: none;
    }
  }
}
