<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" sizes="32x32" href="/assets/icones/logo.svg">
    <link rel="stylesheet" href="/assets/css/style.css">

    {% block title %}
      <title>Ecoleta</title>
    {% endblock title %}
  </head>

  <body>
    <div id="{{pageId}}">
      {% block content %}{% endblock content %}
    </div>

    {% block modal %}{% endblock modal %}

    {% block scripts %}{% endblock scripts %}
  </body>
</html>