{% extends 'layout.html' %}

{% set pageId = 'page-search-results' %}

{% block title %}
  <title>Resultado da Pesquisa</title>
{% endblock title %}

{% block content %}
  {%include 'partials/page-header.html'%}
  <main class="main">
    <h4>
      <strong>2 Pontos
      </strong>Encontrados</h4>
    <div class="cards">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1558583055-d7ac00b1adca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" alt="Colectoria">
        <h1>Colectoria</h1>
        <h3>Residos Eletronico, Lampadas</h3>
        <p>Pará, Belém
          <br>
          Guamá, R.Barão de Igarapé Miri
          <br>
          Número: 000</p>
      </div>

      <div class="card">
        <img src="https://images.unsplash.com/photo-1528323273322-d81458248d40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1101&q=80" alt="Papersider">
        <h1>Papersider</h1>
        <h3>Papel e Papelão, Pilhas</h3>
        <p>Pará, Belém
          <br>
          Terra Firmer, R.São Domingos
          <br>
          Número: 111</p>
      </div>
    </div>
  </main>
{% endblock content %}
