@media (max-width: 900px) {
  #page-home {
    background-position-x: 70vw;

    .container {
      align-items: center;
      justify-content: center;
      color: $title-color;
    }
    .header a {
      position: absolute;
      bottom: 48px;
      left: 50%;
      transform: translateX(-50%);
    }
    .main {
      align-items: center;
    }
  }

/*   #page-search-results {
    .main {
      .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
      }
    }
  } */
}

@media (min-width: 1700px) {
  #page-home {
    background-position-x: 40vw;
  }
}
/* 
@media (max-width: 600px) {
  #page-search-results {
    .main {
      .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 24px;
      }
    }
  }
} */

@media (max-height: 760px) {
  #page-home {
    background-position-y: 200px;
  }
}
